
body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.header--main{
    color: white;
    font-weight: normal;
}

.link--cta{
    color: aquamarine;
    font-size: 15px;
}